@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,900&display=swap");
body {
  margin: 0px;
  font-family: 'Source Code Pro', monospace;
  background-image: url(https://images.unsplash.com/photo-1475139441338-693e7dbe20b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80);
  background-size: cover;
}

body .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}

body .wrapper .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body .wrapper .header h1 {
  color: white;
}

body .wrapper .main {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper .main .profile1, body .wrapper .main .profile2 {
  border-radius: 25px;
  width: 40%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper .main .profile1 .buttons, body .wrapper .main .profile2 .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: red;
}

body .wrapper .main .profile1 img, body .wrapper .main .profile2 img {
  max-width: 200px;
  border-radius: 25px;
  margin-bottom: 20px;
}

body .wrapper .main .profile1 h3, body .wrapper .main .profile2 h3 {
  margin: 25px;
  color: white;
}

body .wrapper .main .profile1 p, body .wrapper .main .profile2 p {
  margin: 2px;
}

body .wrapper .main .profile1 button, body .wrapper .main .profile2 button {
  font-family: 'Source Code Pro', monospace;
}

body .wrapper .choose {
  height: 17vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .wrapper .choose select {
  padding: 10px;
  border: 3px solid white;
  border: white;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 25px;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
}

body .wrapper .choose button {
  padding: 10px;
  border: solid white 3px;
  border-radius: 25px;
  font-family: 'Source Code Pro', monospace;
}

body .wrapper .bubble {
  width: 60%;
  height: 70px;
  background-color: white;
  border: solid white 3px;
  color: black;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */